.logo-spacex {
  width: 150px;
}

.navbar-toggler {
  border: none;
}

.menu-icon {
  width: 30px;
}

.offcanvas-background {
  /* Background transparente con blur */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.offcanvas-title {
  color: #fff;
}

.navbar-close-button {
  width: 25px;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #d8d8d8;
}


